/*position background*/
.carousel-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -2;
	overflow: hidden;
}
.blur-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	overflow: hidden;
	opacity: .8
}

/*hr should be white on this page unless in a special DOM*/
hr {
	border-top-color: white; 
}

/*add styling to welcome screen*/
.jumbotron {
	color: white;
}
.jumbotron hr {
	border-top-color: black; 
}

/*center tweets*/
iframe.twitter-tweet {
	margin: 0 auto;
}

/* make background fill screen*/
#carouselSlides,
.carousel-inner,
.carousel-item {
	width: 100%;
	height: 100%;
}
.carousel-inner img{
  object-fit: cover;
}