
.carousel-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -2;
	overflow: hidden;
}

.blur-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	overflow: hidden;
	opacity: .8
}

.jumbotron {
	color: white;
}

.jumbotron hr {
	border-top-color: black; 
}